


#input-phone{
	display: block;
	padding: 0.5em 0.25em;
	/*border: none;*/
	/*border-radius: 0.2em;*/
	font-size: 1.5em;
	box-shadow: 0 0 0.5em 0.15em rgba(0,0,0,0.2);
	width:250px;
	justify-self: center;
	margin-top:20px;

  /*height: 48px;*/
  /*font: 32px/48px 'Noto Sans', sans-serif;*/
  background: rgba(14, 200, 121,0.1);
  color: #0AD5C1;
  border:none;
  border-bottom: 1px solid #0EC879;
  outline: none;
}

@media only screen and (max-width:500px) {
	#input-phone{
		width:70vw;
		position:fixed;
		top:35vh;
		right: 0;
    	left: 0;
    	margin-right: auto;
    	margin-left: auto;
		background:rgba(255, 255, 102,0.2);
  		border-bottom: 1px solid rgba(14, 200, 121,1) ;
  		box-shadow: 0 0 0.5em 0.15em rgba(255, 255, 102,1);
		color: white;

	}

}


