.scrollBarHide,.scrollBarV {
	height: 80vh;
	width: 600px;
	overflow-y: scroll;
	overflow-x: hidden;

}

@media only screen and (max-width:400px) {
	.scrollBarHide,.scrollBarV{
		width:100vw;
		height: 90vh;
	}
}




.scrollBarHide::-webkit-scrollbar
,.scrollBarV::-webkit-scrollbar {
  width: 5px;
}


.scrollBarHide::-webkit-scrollbar-track
,.scrollBarV::-webkit-scrollbar-track {
	opacity:0;
}

.scrollBarHide::-webkit-scrollbar-thumb {
  border-radius: 10px;
  

}



.scrollBarHide::-webkit-scrollbar-track-piece
,.scrollBarV::-webkit-scrollbar-track-piece {
	opacity:0;
}

.scrollBarHide::-webkit-scrollbar-corner
,.scrollBarV::-webkit-scrollbar-corner{
	opacity: 0;
}


.scrollBarV::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0, 0, 0,0.2); 

}





