


#input-phone{
	display: block;
	padding: 0.5em 0.25em;

	font-size: 1.5em;
	box-shadow: 0 0 0.5em 0.15em rgba(0,0,0,0.2);
	width:250px;
	


  background: rgba(14, 200, 121,0.1);
  color: #0AD5C1;
  border:none;
  border-bottom: 1px solid #0EC879;
  outline: none;
}

@media only screen and (max-width:500px) {
	#input-phone{
    display: block;
		position: fixed;
    z-index:2;
		top:40vh;
		left:0;
		right:0;
		margin-left:auto;
		margin-right:auto;
		width:70vw;
		margin-top:0px;
		background:rgba(255, 255, 102,0.2);
  	border-bottom: 2px solid rgba(14, 200, 121,0.2) ;
  	
  	box-shadow: 0px 0px 10px 3px rgba(255, 255, 102,1);			
		color: white;

	}

  .animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  .rollIn {
    -webkit-animation-name: rollIn;
    animation-name: rollIn;
  }



  @keyframes rollIn {
    0% {
      top:-10vh;
      transform: scale(0);
    }

    100% {
      top:40vh;
      transform: scale(1);
    }
  }

}







