.scrollBarHide {
	width: 600px;
	height: 520px;
	
	position: relative;
	margin: auto;
	padding:10px;
	overflow-y: scroll;
	overflow-x: hidden;

	display:grid;
	grid-template-colums:100%;
	grid-template-rows:repeat(30,auto);
}

.scrollBarHide::-webkit-scrollbar {
  width: 5px;
}


.scrollBarHide::-webkit-scrollbar-track {
	opacity:0;
}

.scrollBarHide::-webkit-scrollbar-thumb {
  border-radius: 10px;
  

}



.scrollBarHide::-webkit-scrollbar-track-piece{
	opacity:0;
}

.scrollBarHide::-webkit-scrollbar-corner{
	opacity: 0;
}


.scrollBarV {
	width: 600px;
	height: 520px;
	
	position: relative;
	margin: auto;
	padding:10px;
	overflow-y: scroll;
	overflow-x: hidden;

	display:grid;
	grid-template-colums:100%;
	grid-template-rows:repeat(30,auto);
}

.scrollBarV::-webkit-scrollbar {
  width: 5px;
}


.scrollBarV::-webkit-scrollbar-track {
	opacity:0;
}

.scrollBarV::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0, 0, 0,0.2); 

}



.scrollBarV::-webkit-scrollbar-track-piece{
	opacity:0;
}

.scrollBarV::-webkit-scrollbar-corner{
	opacity: 0;
}


