/*
.bubble {
  width: 240px;
  min-height: 56px;
  display: block;
  background: #f5f5f5;
  border-radius: 4px;
  box-shadow: 2px 8px 5px #000;
  position: relative;
  margin-bottom:15px;
}
.bubble.alt {
  margin-left:auto;
}
.bubble .txt {
  padding: 8px 55px 8px 14px;
}
.bubble .txt .name {
  font-weight: 600;
  font-size: 12px;
  margin: 0 0 4px;
  color: #3498db;
}
.bubble .txt .name span {
  font-weight: normal;
  color: #b3b3b3;
}
.bubble .txt .name.alt {
  color: #2ecc71;
}
.bubble .txt .message {
  font-size: 12px;
  margin: 0;
  color: #2b2b2b;
}
.bubble .txt .timestamp {
  font-size: 11px;
  position: absolute;
  bottom: 8px;
  right: 10px;
  text-transform: uppercase;
  color: #999;
}
.bubble .bubble-arrow {
  position: absolute;
  width: 0;
  bottom: 42px;
  left: -16px;
  height: 0;
}
.bubble .bubble-arrow.alt {
  right: -2px;
  bottom: 40px;
  left: auto;
}
.bubble .bubble-arrow:after {
  content: "";
  position: absolute;
  border: 0 solid transparent;
  border-top: 9px solid #f5f5f5;
  border-radius: 0 20px 0;
  width: 15px;
  height: 30px;
  transform: rotate(145deg);
}
.bubble .bubble-arrow.alt:after {
  transform: rotate(45deg) scaleY(-1);
}*/

.timestamp {
  font-size: 11px;
  position:absolute;
  left:135px;
  bottom:0px;
  text-transform: uppercase;
  color: rgba(255, 255, 255,0.5);
}


.bubble {
  width: 240px;
  position: relative;
  clear: both;
  display: inline-block;
  font: 16px/20px 'Noto Sans', sans-serif;
  border-radius: 10px;
  background-color: rgba(0, 51, 0,0.5);
  margin-bottom: 10px;
}

.bubble p{
  margin-top:5px;
  margin-left:5px;

}

/* Chat - Avatar */
.bubble:before {
  position: absolute;
  top: 0;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  content: '';
}

/* Chat - Speech Bubble Arrow */
.bubble:after {
  position: absolute;
  top: 15px;
  content: '';
  width: 0;
  height: 0;
  border-top: 15px solid rgba(0, 51, 0,0.5);
}

.odd {
  animation: show-chat-odd 0.3s 1 ease-in;
  -moz-animation: show-chat-odd 0.3s 1 ease-in;
  -webkit-animation: show-chat-odd 0.3s 1 ease-in;
  float: right;
  margin-right: 80px;
  color: #0AD5C1;
}

.odd:before {
  right: -80px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg height='50' viewBox='-36 0 511 512' width='50' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M439.535 219.438c0 121.195-98.246 219.44-219.437 219.44C98.902 438.879.656 340.634.656 219.439.656 98.246 98.902 0 220.098 0c121.191 0 219.437 98.246 219.437 219.438zm0 0' fill='%23ade9f0'/%3E%3Cpath d='M220.098 438.879c38.515 0 74.707-9.938 106.168-27.367-222.422-25.23-284.106-285.899-181.274-398.32C60.79 43.862.656 124.628.656 219.436c0 121.196 98.246 219.442 219.442 219.442zm0 0' fill='%2398dae3'/%3E%3Cpath d='M190.566 241.52h59.059v102.69h-59.059zm0 0' fill='%23ddaf89'/%3E%3Cpath d='M38.797 343.086c39.516 57.828 105.973 95.793 181.3 95.793s141.782-37.965 181.298-95.793c-63.91-7.387-77.282-28.785-181.297-28.785-104.02 0-117.391 21.398-181.301 28.785zm0 0' fill='%23ececed'/%3E%3Cpath d='M220.098 438.879c38.507 0 74.687-9.942 106.144-27.367-76.199-8.653-133.523-44.942-171.84-93.434-48.812 6.485-68.46 19.559-115.605 25.008 39.516 57.828 105.973 95.793 181.3 95.793zm0 0' fill='%23dee0e1'/%3E%3Cpath d='M355.027 393.773H85.164c-17.695 0-33.016 12.301-36.84 29.579L37.7 471.34h364.793l-10.625-47.988c-3.824-17.278-19.144-29.579-36.84-29.579zm0 0' fill='%23ddaf89'/%3E%3Cpath d='M206.781 393.773H85.164c-17.695 0-33.016 12.301-36.84 29.579L37.7 471.34h182.918c-23.445-17.817-32.015-51.16-13.836-77.567zm0 0' fill='%23d4a883'/%3E%3Cpath d='M426.84 512H13.355C6.254 512 .5 506.246.5 499.145V484.19c0-7.097 5.754-12.851 12.855-12.851h413.48c7.103 0 12.856 5.754 12.856 12.851v14.954c0 7.101-5.753 12.855-12.851 12.855zm0 0' fill='%23c8a185'/%3E%3Cpath d='M249.727 418.656h-59.262a8.394 8.394 0 0 0-8.395 8.395v11.012a8.394 8.394 0 0 0 8.395 8.394h59.262a8.394 8.394 0 0 0 8.394-8.394V427.05a8.394 8.394 0 0 0-8.394-8.395zm0 0' fill='%23f6e06a'/%3E%3Cpath d='M197.355 418.656h-6.89a8.394 8.394 0 0 0-8.395 8.395v11.012a8.394 8.394 0 0 0 8.395 8.394h10.902c-3.625-8.738-5.105-18.281-4.012-27.8zm0 0' fill='%23ebd15e'/%3E%3Cpath d='M169.684 172.422l-34.707 60.457c-5.465 9.523-.942 21.672 9.421 25.3a229.096 229.096 0 0 0 151.395 0c10.363-3.628 14.887-15.777 9.422-25.3l-34.707-60.457c-22.34-38.918-78.48-38.918-100.824 0zm0 0' fill='%2365b188'/%3E%3Cpath d='M186.14 90.703l-47.456 82.668c-5.23 9.11-.903 20.73 9.007 24.2a219.078 219.078 0 0 0 144.809 0c9.91-3.47 14.238-15.09 9.008-24.2l-47.453-82.668c-15.051-26.215-52.868-26.215-67.914 0zm0 0' fill='%237bd0a7'/%3E%3Cpath d='M13.355 471.34C6.254 471.34.5 477.094.5 484.19v14.954C.5 506.246 6.254 512 13.355 512h233.016c-13.61-6.164-20.555-27.29-14.32-40.66zm0 0' fill='%23b59178'/%3E%3Cpath d='M305.61 58.906c0 9.461-7.673 17.133-17.133 17.133-9.465 0-17.133-7.672-17.133-17.133 0-9.465 7.668-17.133 17.133-17.133 9.46 0 17.132 7.668 17.132 17.133zm0 0' fill='%23fff'/%3E%3Cpath d='M105.773 284.625c0 9.46-7.671 17.133-17.132 17.133-9.465 0-17.133-7.672-17.133-17.133s7.668-17.133 17.133-17.133c9.46 0 17.132 7.672 17.132 17.133zm0 0M82.652 176.426c0 9.46-7.672 17.133-17.132 17.133-9.465 0-17.133-7.672-17.133-17.133 0-9.465 7.668-17.137 17.133-17.137 9.46 0 17.132 7.672 17.132 17.137zm0 0' fill='%23ececed'/%3E%3Cg fill='%23fff'%3E%3Cpath d='M146.29 92.547c0 9.46-7.669 17.133-17.134 17.133-9.46 0-17.133-7.672-17.133-17.133 0-9.465 7.672-17.133 17.133-17.133 9.465 0 17.133 7.668 17.133 17.133zm0 0M382.938 199.04c0 9.464-7.672 17.132-17.133 17.132-9.465 0-17.133-7.668-17.133-17.133 0-9.46 7.668-17.133 17.133-17.133 9.46 0 17.132 7.672 17.132 17.133zm0 0M359.531 285.625c0 9.46-7.668 17.133-17.133 17.133-9.46 0-17.132-7.672-17.132-17.133s7.671-17.133 17.132-17.133c9.465 0 17.133 7.672 17.133 17.133zm0 0M369.066 117.855a7.485 7.485 0 0 1-6.054-3.062 178.01 178.01 0 0 0-32.914-34.18 7.505 7.505 0 0 1-1.211-10.539 7.497 7.497 0 0 1 10.535-1.215 193.136 193.136 0 0 1 35.683 37.063 7.497 7.497 0 0 1-6.039 11.933zm0 0M388.398 150.93a7.507 7.507 0 0 1-6.84-4.41 177.523 177.523 0 0 0-6.097-12.2 7.498 7.498 0 0 1 2.965-10.183 7.502 7.502 0 0 1 10.183 2.96 194.467 194.467 0 0 1 6.618 13.239 7.503 7.503 0 0 1-6.829 10.594zm0 0'/%3E%3C/g%3E%3C/svg%3E");
}

.odd:after {
  border-right: 15px solid transparent;
  right: -15px;
}


.even {
  animation: show-chat-even 0.3s 1 ease-in;
  -moz-animation: show-chat-even 0.3s 1 ease-in;
  -webkit-animation: show-chat-even 0.3s 1 ease-in;
  float: left;
  margin-left: 80px;
  color: #0EC879;
}
.even:before {
  left: -80px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg height='50' viewBox='0 -20 511.999 511' width='50' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M424.957 437.52c-13.121-7.305-28.078-10.102-42.605-8.387a9.488 9.488 0 0 1-10.575-10.574c1.715-14.528-1.078-29.485-8.382-42.606-3.583-6.43.214-14.539 7.48-15.691 15.152-2.407 29.707-9.446 41.383-21.121 11.676-11.676 18.715-26.23 21.117-41.38 1.156-7.269 9.266-11.066 15.695-7.484 13.121 7.305 28.078 10.098 42.606 8.387a9.484 9.484 0 0 1 10.57 10.57c-1.71 14.532 1.082 29.485 8.387 42.606 3.582 6.43-.215 14.543-7.48 15.695-15.153 2.402-29.708 9.442-41.383 21.117-11.676 11.676-18.715 26.235-21.118 41.383-1.156 7.27-9.265 11.063-15.695 7.485zm0 0' fill='%2365b188'/%3E%3Cpath d='M412.906 395.504a7.475 7.475 0 0 1-5.3-2.2 7.497 7.497 0 0 1 0-10.605l48.21-48.21a7.5 7.5 0 0 1 10.606 10.609l-48.211 48.207a7.477 7.477 0 0 1-5.305 2.199zm0 0' fill='%235ca17b'/%3E%3Cpath d='M437.016 187.04H38.289v225.476c0 21.261 17.238 38.496 38.5 38.496h321.73c21.258 0 38.497-17.239 38.497-38.496zm0 0' fill='%23f6e06a'/%3E%3Cpath d='M38.29 412.516c0 21.261 17.237 38.496 38.5 38.496h166.554c-64.04-50.961-88.578-137.512-92.664-195.219-.653-9.254 6.62-17.14 15.898-17.14h270.434v-51.614H38.289zm0 0' fill='%23ebd15e'/%3E%3Cpath d='M276.613 158.86l122.258 2.702a32.05 32.05 0 0 0 30.125-19.328c9.66-22.347.45-48.363-21.121-59.652l-8.969-4.695a10.572 10.572 0 0 1-5.426-11.633l2.168-9.887c5.22-23.781-8.789-47.558-32.117-54.527a32.052 32.052 0 0 0-34.168 10.656l-76.52 95.39zm0 0' fill='%23eb8d9a'/%3E%3Cpath d='M264.73 140.879a7.503 7.503 0 0 1-3.172-14.3l72.844-33.97a7.499 7.499 0 0 1 9.965 3.63 7.497 7.497 0 0 1-3.625 9.964l-72.844 33.969a7.515 7.515 0 0 1-3.168.707zm0 0' fill='%23db818d'/%3E%3Cpath d='M198.691 158.86l-122.257 2.702a32.05 32.05 0 0 1-30.125-19.328c-9.66-22.347-.45-48.363 21.12-59.652l8.97-4.695a10.577 10.577 0 0 0 5.425-11.633l-2.172-9.887C74.437 32.586 88.445 8.81 111.773 1.84a32.052 32.052 0 0 1 34.168 10.656l76.52 95.39zm0 0' fill='%23eb8d9a'/%3E%3Cpath d='M210.57 140.879a7.511 7.511 0 0 1-3.164-.707l-72.844-33.969a7.494 7.494 0 0 1-3.625-9.965 7.499 7.499 0 0 1 9.965-3.629l72.844 33.97a7.503 7.503 0 0 1 3.629 9.968 7.51 7.51 0 0 1-6.805 4.332zm0 0' fill='%23db818d'/%3E%3Cpath d='M280.246 105.41a137.196 137.196 0 0 0-85.187 0 24.297 24.297 0 0 0-16.754 23.098v24.414a24.294 24.294 0 0 0 16.754 23.098 137.14 137.14 0 0 0 85.187 0A24.299 24.299 0 0 0 297 152.922v-24.414a24.302 24.302 0 0 0-16.754-23.098zm0 0' fill='%23db818d'/%3E%3Cpath d='M453.004 221.05H22.3C9.984 221.05 0 211.067 0 198.75v-35.734c0-12.317 9.984-22.301 22.3-22.301h430.704c12.316 0 22.3 9.984 22.3 22.3v35.735c0 12.316-9.984 22.3-22.3 22.3zm0 0' fill='%23f6c273'/%3E%3Cpath d='M22.3 140.715c-12.316 0-22.3 9.988-22.3 22.3v35.735c0 12.316 9.984 22.3 22.3 22.3h139.102c-23.82-17.59-31.43-49.01-21.78-80.335zm0 0' fill='%23e6b05e'/%3E%3Cpath d='M198.617 221.05h78.07v229.962h-78.07zm0 0' fill='%23eb8d9a'/%3E%3Cpath d='M180.234 140.715H295.07v80.336H180.234zm0 0' fill='%23eb8d9a'/%3E%3Cpath d='M466.273 409.3c-7.304 13.122-10.097 28.075-8.386 42.602a9.487 9.487 0 0 1-10.575 10.575c-14.527-1.715-29.484 1.082-42.601 8.386-6.434 3.578-14.543-.215-15.695-7.484-2.407-15.149-9.442-29.703-21.118-41.379-11.675-11.68-26.234-18.715-41.382-21.121-7.27-1.152-11.063-9.262-7.485-15.692 7.305-13.125 10.102-28.078 8.387-42.605a9.487 9.487 0 0 1 10.574-10.574c14.528 1.715 29.485-1.082 42.606-8.387 6.43-3.578 14.539.215 15.691 7.484 2.406 15.149 9.441 29.707 21.117 41.383 11.68 11.676 26.235 18.715 41.383 21.117 7.27 1.153 11.063 9.262 7.484 15.696zm0 0' fill='%237bd0a7'/%3E%3Cpath d='M416.758 428.848a7.496 7.496 0 0 1-5.305-2.196l-48.21-48.21a7.502 7.502 0 0 1 0-10.61 7.51 7.51 0 0 1 10.609 0l48.21 48.211a7.51 7.51 0 0 1 0 10.61 7.496 7.496 0 0 1-5.304 2.195zm0 0' fill='%2368bf97'/%3E%3Cpath d='M182.371 299.828c0-14.215-14.469-25.738-32.32-25.738-17.856 0-32.324 11.523-32.324 25.738 0 14.219 14.468 25.742 32.324 25.742 17.851 0 32.32-11.523 32.32-25.742zm0 0M357.578 299.828c0-14.215-14.473-25.738-32.324-25.738-17.852 0-32.324 11.523-32.324 25.738 0 14.219 14.472 25.742 32.324 25.742 17.851 0 32.324-11.523 32.324-25.742zm0 0' fill='%23eb8d9a'/%3E%3Cg fill='%23495059'%3E%3Cpath d='M168.887 281.648a7.5 7.5 0 0 1-7.5-7.5v-11.414a7.5 7.5 0 1 1 15 0v11.414c0 4.145-3.356 7.5-7.5 7.5zm0 0M306.418 281.648a7.497 7.497 0 0 1-7.5-7.5v-11.414a7.5 7.5 0 1 1 15 0v11.414a7.5 7.5 0 0 1-7.5 7.5zm0 0M237.652 290.418a31.551 31.551 0 0 1-23.785-10.832 7.5 7.5 0 0 1 .727-10.582 7.497 7.497 0 0 1 10.582.726 16.55 16.55 0 0 0 12.476 5.688c4.778 0 9.325-2.074 12.477-5.688 2.719-3.125 7.457-3.449 10.582-.726 3.121 2.719 3.445 7.457.726 10.582a31.551 31.551 0 0 1-23.785 10.832zm0 0'/%3E%3C/g%3E%3Cpath d='M198.617 401.531v49.48h44.727c-17.84-14.195-32.61-31.156-44.727-49.48zm0 0M198.617 221.05h78.07v17.602h-78.07zm0 0' fill='%23db818d'/%3E%3C/svg%3E");
}
.even:after {
  border-left: 15px solid transparent;
  left: -15px;
}



.chat-window {
  position: fixed;
  bottom: 18px;
}

.chat-window-message {
  width: 100%;
  height: 48px;
  font: 32px/48px 'Noto Sans', sans-serif;
  background: none;
  color: #0AD5C1;
  border: 0;
  border-bottom: 1px solid rgba(25, 147, 147, 0.2);
  outline: none;
}


@keyframes show-chat-even {
  0% {
    margin-left: -480px;
  }
  100% {
    margin-left: 0;
  }
}
@-moz-keyframes show-chat-even {
  0% {
    margin-left: -480px;
  }
  100% {
    margin-left: 0;
  }
}
@-webkit-keyframes show-chat-even {
  0% {
    margin-left: -480px;
  }
  100% {
    margin-left: 0;
  }
}
@keyframes show-chat-odd {
  0% {
    margin-right: -480px;
  }
  100% {
    margin-right: 0;
  }
}
@-moz-keyframes show-chat-odd {
  0% {
    margin-right: -480px;
  }
  100% {
    margin-right: 0;
  }
}
@-webkit-keyframes show-chat-odd {
  0% {
    margin-right: -480px;
  }
  100% {
    margin-right: 0;
  }
}

@media screen and (max-width: 500px){
  .bubble {
    background-color:rgba(255, 255, 255,0.3);
  }
  .bubble:after {
    border-top: 15px solid rgba(255, 255, 255,0.3);
  }
  .timestamp {
    color: rgba(255, 255, 255,1);
  }
}

